<mat-card>
  <form (ngSubmit)="onAddPost()" [formGroup]="myForm" *ngIf="showForm">
    <mat-form-field>
      <input type="text" matInput ngModel formControlName="title" placeholder="Post Title">
      <mat-error *ngIf="myForm.controls['title'].invalid">Needs to be at least 3 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea rows="4" matInput ngModel formControlName="content" placeholder="Post Content"></textarea>
      <mat-error *ngIf="myForm.controls['content'].invalid">Needs to be at least 10 characters long</mat-error>

    </mat-form-field>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Add Post</button>
    </mat-card-actions>
  </form>
</mat-card>
